absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1769637056219/work
altair==6.2.1
anyascii==0.3.3
anyio==4.14.0
asttokens @ file:///C:/Users/task_177313475117182/croot/asttokens_1773135663340/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1736248061654/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1773935801/work
blinker==1.9.0
Bottleneck @ file:///C:/miniconda3/conda-bld/bottleneck_1761938096667/work
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961372591/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==7.1.4
certifi @ file:///C:/Users/task_177937038000344/croot/certifi_1779370454774/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832794697/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744944645/work
click @ file:///C:/miniconda3/conda-bld/click_1764332349001/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cloudpickle_1765303462/work
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
comm @ file:///C:/miniconda3/conda-bld/comm_1763119233835/work
contourpy @ file:///C:/b/abs_f2u2o_8s9g/croot/contourpy_1732540071787/work
contractions==0.1.73
cycler @ file:///C:/Users/task_176606795043471/croot/cycler_1766068055428/work
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1762421657095/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341256088/work
dm-tree @ file:///D:/bld/dm-tree_1775827029193/work
emoji @ file:///home/conda/feedstock_root/build_artifacts/emoji_1758471646253/work
exceptiongroup @ file:///C:/miniconda3/conda-bld/exceptiongroup_1761560437674/work
executing @ file:///C:/miniconda3/conda-bld/executing_1757061252959/work
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1758880282135/work
fonttools @ file:///C:/Users/task_177425652242231/croot/fonttools_1774256597804/work
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1764507054169/work
gitdb==4.0.12
GitPython==3.1.50
google-pasta @ file:///home/conda/feedstock_root/build_artifacts/google-pasta_1733852499742/work
grpcio @ file:///D:/bld/grpc-split_1774009214852/work
h11==0.16.0
h5py @ file:///D:/bld/h5py_1756766883243/work
httptools==0.8.0
idna @ file:///C:/miniconda3/conda-bld/idna_1761912044311/work
ImageIO==2.37.3
imbalanced-learn==0.14.2
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1779714582/work
ipykernel @ file:///C:/Users/task_177261243501734/croot/ipykernel_1772612536641/work
ipython @ file:///C:/b/abs_8eyhzleyrk/croot/ipython_1734548134403/work
itsdangerous==2.2.0
jedi @ file:///C:/Users/task_177868159853494/croot/jedi_1778681783818/work
Jinja2==3.1.6
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client @ file:///C:/Users/task_176839864521852/croot/jupyter_client_1768399093953/work
jupyter_core @ file:///C:/miniconda3/conda-bld/jupyter_core_1764588347534/work
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1761616457014/work
keras-core @ file:///home/conda/feedstock_root/build_artifacts/keras-core_1698091086349/work
keras-tuner @ file:///home/conda/feedstock_root/build_artifacts/keras-tuner_1767109737052/work
kiwisolver @ file:///C:/miniconda3/conda-bld/kiwisolver_1764159353779/work
kt-legacy @ file:///home/conda/feedstock_root/build_artifacts/kt-legacy_1735284844582/work
lazy-loader==0.5
lime==0.2.0.1
llvmlite @ file:///C:/Users/task_177885574805423/croot/llvmlite_1778855934100/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_markdown_1770694658/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1778169583724/work
MarkupSafe @ file:///D:/bld/markupsafe_1772444962217/work
matplotlib==3.10.9
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779265381/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mkl-service==2.7.1
mkl_fft==2.2.0
mkl_random @ file:///D:/bld/mkl_random_1778098018979/work
ml_dtypes @ file:///D:/bld/bld/rattler-build_ml_dtypes_1771362323/work
namex @ file:///home/conda/feedstock_root/build_artifacts/namex_1748346368839/work
narwhals==2.22.1
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx==3.4.2
nltk @ file:///C:/Users/task_177507932046259/croot/nltk_1775079566575/work
numba @ file:///D:/bld/numba_1778390408149/work
numexpr @ file:///C:/Users/task_177627002151243/croot/numexpr_1776270132838/work
numpy @ file:///C:/b/abs_81ri0q57xq/croot/numpy_and_numpy_base_1755590863635/work/dist/numpy-1.26.4-cp310-cp310-win_amd64.whl#sha256=b6162b3d8f61a8b10293d275d39feb04e0969ade6c6fdf4251eb84d35b403681
opt_einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1733687912731/work
optree @ file:///D:/bld/optree_1778047657301/work
packaging==26.0
pandas @ file:///C:/miniconda3/conda-bld/pandas_1762332399653/work/dist/pandas-2.3.3-cp310-cp310-win_amd64.whl#sha256=25368e0adc93a7db0f3983502b4e57344f71af8f45ca3849f7c3833738f306aa
parso @ file:///C:/Users/task_177867415949181/croot/parso_1778674228605/work
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
platformdirs @ file:///C:/Users/task_177365233215608/croot/platformdirs_1773652995602/work
plotly==6.8.0
pooch @ file:///C:/b/abs_7acoiuwpey/croot/pooch_1731007069545/work
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745021230/work
protobuf @ file:///D:/bld/protobuf_1773265064833/work/bazel-bin/python/dist/protobuf-6.33.5-cp310-abi3-win_amd64.whl#sha256=3396e02a0d44efe2d931833c13345e43961b21cba87680d85a3948c99cf103e1
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896539676/work
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067068391/work
pyahocorasick==2.3.1
pyarrow==24.0.0
pycparser @ file:///C:/Users/task_177495971250430/croot/pycparser_1774959822609/work
pydeck==0.9.2
Pygments @ file:///C:/Users/task_177512674411643/croot/pygments_1775127039817/work
pyparsing @ file:///C:/miniconda3/conda-bld/pyparsing_1763973898118/work
PyQt6==6.11.0
PyQt6_sip @ file:///C:/Users/task_177582787509982/croot/pyqt-split_1775828391884/work/pyqt_sip
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030270/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-multipart==0.0.32
pytz @ file:///C:/Users/task_177304302224694/croot/pytz_1773043111941/work
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375610449/work
referencing==0.37.0
regex @ file:///C:/Users/task_177265234240529/croot/regex_1772652448828/work
requests @ file:///C:/Users/task_177506608527885/croot/requests_1775066155000/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1775991661/work/dist
rpds-py==0.30.0
scikit-image==0.25.2
scikit-learn @ file:///C:/b/abs_45qemhn4lg/croot/scikit-learn_1753427401078/work
scikit-surprise @ file:///D:/bld/scikit-surprise_1716198973589/work
scipy @ file:///C:/Users/task_177627752328296/croot/scipy_1776277626143/work/dist/scipy-1.15.3-cp310-cp310-win_amd64.whl#sha256=4b31ae66cb62ee7d0d6cb492e8af90b64e32541a8bee52f4e127b96528004419
seaborn @ file:///C:/b/abs_0bv5x0ucxb/croot/seaborn_1749110315600/work
shap @ file:///D:/bld/shap_1750151434384/work
sip @ file:///C:/Users/task_177080700866195/croot/sip_1770807604859/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
sklearn-compat==0.1.6
slicer @ file:///home/conda/feedstock_root/build_artifacts/slicer_1710029110974/work
smmap==5.0.3
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067051465/work
starlette==1.3.1
streamlit==1.58.0
tenacity==9.1.4
tensorboard==2.20.0
tensorboard_data_server @ file:///D:/bld/tensorboard-data-server_1764929487154/work/tensorboard_data_server-0.7.0-py3-none-any.whl#sha256=b54da0a423f6f20b8b5a49b9f0f94c5fd1135b7d8f618dbaf15e1c335a4abba8
tensorflow==2.21.0
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1767096303160/work
textsearch==0.0.24
threadpoolctl @ file:///C:/miniconda3/conda-bld/threadpoolctl_1764361785970/work
tifffile==2025.5.10
toml==0.10.2
tomli @ file:///C:/Users/task_176829653256119/croot/tomli_1768296653758/work
tornado @ file:///C:/Users/task_177430356365515/croot/tornado_1774303657186/work
tqdm @ file:///C:/Users/task_177139861067463/croot/tqdm_1771398772297/work
traitlets @ file:///C:/Users/task_177874328365528/croot/traitlets_1778743401822/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata @ file:///home/task_177806041933677/croot/python-tzdata_1778060738968/work
urllib3 @ file:///C:/Users/task_177853593812673/croot/urllib3_1778536217005/work
uvicorn==0.49.0
watchdog==6.0.0
wcwidth @ file:///C:/Users/task_176777900206875/croot/wcwidth_1767779217517/work
websockets==16.0
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_werkzeug_1775160081/work
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746276406/work
wrapt @ file:///D:/bld/wrapt_1779477422795/work
xgboost @ file:///home/conda/feedstock_root/build_artifacts/xgboost-split_1772125046773/work/python-package
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1779159948/work
